.body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
.contenedor-resultado{
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.titulo {
    text-align: center;
    padding-bottom: 20px;
}

.boton{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



.formulario {
    max-width: 600px;
    margin: auto;
    background-color: #fefefe;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
    font-weight: bold;
    color: #2c3e50;
}

label {
    font-weight: 500;
    color: #34495e;
}

input[type="submit"] {
    width: 100%;
}

.resultado {
    max-width: 500px;
    margin: auto;
    background-color: #fefefe;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #2d3436;
}
