body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}



.container {
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
