{% extends "base.html" %}

{% block title %}Análisis de Datos{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analisistyle.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="titulo">Análisis de Datos</h1>

        <p class="descripcion">
            Esta sección está dedicada a la visualización de datos relacionados con el consumo de cigarrillos y alcohol. 
            A través de distintos gráficos, se facilita la comparación entre ambos hábitos y se destacan patrones comunes 
            en diferentes grupos de personas. También se consideran factores como la salud mental y el nivel de apoyo social, 
            que influyen en el desarrollo o mantenimiento de conductas adictivas.
        </p>

        <div class="img">
            <img class="img-fluid" src="data:image/png;base64,{{ plot_url }}" alt="Gráfico de análisis">
        </div>

        <div class="estadisticas">
            <h2>Estadísticas básicas</h2>
            <ul class="list-group">
                {% for k, v in estadisticas.items() %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>{{ k }}</strong>
                        <span>{{ v }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
