<form method="post" action="/prediccion">
    Edad: <input type="number" name="age" required><br>
    Género:
    <select name="gender" required>
        <option value="Male">Masculino</option>
        <option value="Female">Femenino</option>
        <option value="Other"></option>
    </select><br>
    Cigarrillos por día: <input type="number" name="smokes_per_day" required><br>
    Alcohol por semana: <input type="number" name="drinks_per_week" required><br>
    Edad de inicio al fumar: <input type="number" name="age_started_smoking" required><br>
    Edad de inicio al beber: <input type="number" name="age_started_drinking" required><br>
    Intentos para dejar de fumar: <input type="number" name="attempts_to_quit_smoking" required><br>
    Intentos para dejar de beber: <input type="number" name="attempts_to_quit_drinking" required><br>
    ¿Tiene problemas de salud?
    <select name="has_health_issues" required>
        <option value="false">No</option>
        <option value="true">Sí</option>
    </select><br>
    Estado de salud mental:
    <select name="mental_health_status" required>
        <option value="Good">Buena</option>
        <option value="Average">Promedio</option>
        <option value="Poor">Mala</option>
    </select><br>
    <input type="submit" value="Predecir">
</form>
