{% extends "base.html" %}

{% block title %}Visualización del Dataset{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graficostyle.css') }}">
{% endblock %}

{% block content %}
<div>
    <h1 class="titulo">Visualización de los datos</h1>
    <p class="descripcion-graficos">
        Esta sección está dedicada exclusivamente a la visualización de datos relacionados con el consumo de cigarrillos y alcohol.
        Es importante aclarar que esta página tiene únicamente fines de visualización y no realiza ningún tipo de análisis o interpretación de los datos presentados.
    </p>

    <div class="graficos-container">
    {% for grafico in plot_urls %}
        <div class="grafico-item">
            <img src="data:image/png;base64,{{ grafico.url }}" alt="Gráfico" class="grafico img">
            <p class="grafico-descripcion">{{ grafico.descripcion }}</p>
        </div>
    {% endfor %}

    </div>
</div>
{% endblock %}
