{% extends "base.html" %}

{% block title %}Análisis de Consumo{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/graficostyle.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Análisis Comparativo de Consumo</h1>
    <p class="descripcion-graficos">
        Esta sección está dedicada a la visualización de datos relacionados con el consumo de cigarrillos y alcohol. A través de distintos gráficos, se facilita la comparación entre ambos hábitos y se destacan patrones comunes en diferentes grupos de personas.
        Además del análisis del consumo en sí, los gráficos también exploran factores asociados como el estado de salud mental y el nivel de apoyo social con el que cuentan los individuos. Estas variables pueden influir significativamente en el desarrollo o mantenimiento de conductas adictivas, por lo que su visualización ayuda a comprender mejor el contexto que rodea al consumo.
        Los gráficos están diseñados para ofrecer una interpretación clara, intuitiva y útil tanto para análisis exploratorios como para fines educativos.

    </p>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Gráficos comparativos" class="grafico img-fluid mt-4">
</div>
{% endblock %}
